@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Rubik:wght@300;500;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: "Playfair Display", serif;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body section:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px 100px;
  gap: 100px;
  width: 320px;
  height: 1210px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background.jpg);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  background-position: left center;
  object-fit: cover;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.title {
  display: flex;
  align-items: center;
}
.title .title__logo-text {
  height: 18.64px;
}
.title .title__logo {
  width: 24.36px;
}

.popular-destinations__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.trip-planners__info {
  width: 288px;
  height: 105px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}

.travelers-experiences__info {
  width: 288px;
  height: 105px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}

.trip-planners__all-trips {
  display: flex;
  align-items: center;
  background-color: #ff7757;
  width: fit-content;
  padding: 5px;
}

.aligne-button {
  display: flex;
  justify-content: center;
}

.city1__activity {
  display: flex;
}

.city1__activity {
  width: 117px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #172432;
}

.city1__price {
  width: 75px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #172432;
}

.city1__name {
  width: 201px;
  height: 37px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  color: #172432;
}

/*# sourceMappingURL=style.css.map */
