@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;600;700&family=Rubik:wght@300;400;500;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: "Playfair Display", serif;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px 100px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/background.jpg);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  background-position: left -110px top -1130px;
  object-fit: contain;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 2rem;
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.title {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.title .title__logo-text {
  color: #ffffff;
  height: 18.64px;
}
.title .title__logo {
  color: #ffffff;
  width: 24.36px;
}

.popular-destinations__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.trip-planners__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.trip-planners__info {
  width: 288px;
  height: 105px;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}
.trip-planners__trips {
  display: flex;
  align-items: center;
  background-color: #ff7757;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
}

.travelers-experiences__info {
  width: 288px;
  height: 105px;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}

.special-offer__description {
  width: 288px;
  height: 105px;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}
.special-offer__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 288px;
  height: 320px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(255, 119, 87, 0.5),
      rgba(255, 119, 87, 0.1)
    ),
    url(../images/lisbon.jpg);
  object-fit: cover;
}
.special-offer__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff8f1;
  border-radius: 16px 16px 0 0;
  height: fit-content;
}

.our-blog__info {
  width: 288px;
  height: 105px;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}

.aligne-button {
  display: flex;
  justify-content: center;
}

.city1__info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.city1__activity {
  display: flex;
}

.city1__activity {
  width: 117px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #172432;
}

.city1__price {
  width: 75px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #172432;
  display: flex;
  align-content: space-between;
}

p {
  display: flex;
}

.city1__name {
  width: 201px;
  height: 37px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  color: #172432;
}

.city2__info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.city2__activity {
  display: flex;
  width: 117px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #172432;
}

.city2__price {
  width: 76px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #172432;
  display: flex;
  align-content: space-between;
}

p {
  display: flex;
}

.city2__name {
  width: 193px;
  height: 37px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  color: #172432;
}

.city3__info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.city3__activity {
  display: flex;
  width: 117px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #172432;
}

.city3__price {
  width: 76px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #172432;
  display: flex;
  align-content: space-between;
}

p {
  display: flex;
  width: 94px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #172432;
}

.city3__name {
  width: 255px;
  height: 37px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  color: #172432;
}

.city4__info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.city4__activity {
  display: flex;
  width: 117px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #172432;
}

.city4__price {
  width: 76px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #172432;
  display: flex;
  align-content: space-between;
}

p {
  display: flex;
}

.city4__name {
  width: 246px;
  height: 37px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  color: #172432;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.booking-form__title {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 1.2rem;
  color: #ffffff;
}
.booking-form__info {
  font-family: "Rubik", sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 3rem;
  color: #ffffff;
}
.booking-form__fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 288px;
  height: 595px;
  background: #ffffff;
  border-radius: 16px;
}
.booking-form__button-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  gap: 12px;
  width: 100%;
  background: transparent;
  border: none;
}
.booking-form__input-text {
  appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}
.booking-form__label {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  opacity: 90%;
  color: #767e86;
}
.booking-form__input-text::placeholder {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #172432;
}
.booking-form .booking-form__form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.booking-form .booking-form__form ul {
  width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  padding-left: 0;
  gap: 60px;
  background: #ffffff;
  border-radius: 16px;
}
.booking-form .booking-form__form ul li {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  padding-left: 1rem;
}
.booking-form .booking-form__form ul li:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 20px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  gap: 12px;
  width: 288px;
  height: 128px;
  background: #ff7757;
  border-radius: 0px 0px 16px 16px;
  border: none;
}

.popular-destinations__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.popular-destinations__info {
  width: 288px;
  height: 105px;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}
.popular-destinations__div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  justify-content: flex-start;
  position: relative;
}
.popular-destinations__div span {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.popular-destinations__image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 288px;
  height: 320px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(255, 119, 87, 0.5),
      rgba(255, 119, 87, 0.1)
    ),
    url(../images/berlin.jpg);
  object-fit: cover;
}
.popular-destinations__text-over-image {
  position: absolute;
  z-index: 1;
  top: 14rem;
  bottom: 0;
  left: 3rem;
  right: 0;
}
.popular-destinations__image-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 1rem;
  /* identical to box height */
  color: #ffffff;
}
.popular-destinations__location-icon {
  width: 16.88px;
  color: #ffffff;
}
.popular-destinations__image-location {
  width: 208px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.popular-destinations__nav {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}
.popular-destinations__previous-button {
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 28px 20px;
  color: white;
  gap: 4px;
  width: 60px;
  height: 66px;
  background-color: #331811;
  border-radius: 12px;
}
.popular-destinations__next-button {
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 28px 20px;
  color: white;
  gap: 4px;
  width: 60px;
  height: 66px;
  background-color: #ff7757;
  border-radius: 12px;
}

.title-separation {
  border-top: 2px solid #ff7757;
  max-width: 227px;
  margin-left: 1rem;
}

.travelers-experiences__info {
  width: 288px;
  height: 105px;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}

.trip-planners__all-trips {
  display: flex;
  align-items: center;
  background-color: #ff7757;
  width: fit-content;
  padding: 5px;
}

.aligne-button {
  display: flex;
  justify-content: center;
}

.city1__activity {
  display: flex;
}

.city1__activity {
  width: 117px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #172432;
}

.city1__price {
  width: 75px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #172432;
}

.city1__name {
  width: 201px;
  height: 37px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  color: #172432;
}

.city1__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 288px;
  height: 320px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(255, 119, 87, 0.5),
      rgba(255, 119, 87, 0.1)
    ),
    url(../images/rome.jpg);
  object-fit: cover;
}

.city2__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 288px;
  height: 320px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(255, 119, 87, 0.5),
      rgba(255, 119, 87, 0.1)
    ),
    url(../images/paris.jpg);
  object-fit: cover;
}

.city3__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 288px;
  height: 320px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(255, 119, 87, 0.5),
      rgba(255, 119, 87, 0.1)
    ),
    url(../images/paris.jpg);
  object-fit: cover;
}

.city4__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 288px;
  height: 320px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(255, 119, 87, 0.5),
      rgba(255, 119, 87, 0.1)
    ),
    url(../images/budapest.jpg);
  object-fit: cover;
}

.travelers-experiences__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.travelers-experiences__info {
  width: 288px;
  height: 105px;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}

/*# sourceMappingURL=style.css.map */
