@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Rubik:wght@300;500;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: "Playfair Display", serif;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body section:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px 100px;
  gap: 100px;
  width: 320px;
  height: 1210px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background.jpg);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  background-position: left center;
  object-fit: cover;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.title {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.title .title__logo-text {
  color: #ffffff;
  height: 18.64px;
}
.title .title__logo {
  color: #ffffff;
  width: 24.36px;
}

.popular-destinations__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.title-separation {
  border-top: 2px solid #ff7757;
  max-width: 227px;
  margin-left: 1rem;
}

.booking-form__title {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 53px;
  color: #ffffff;
}

.booking-form__info {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 6rem;
  color: #ffffff;
}
.booking-form__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 288px;
  height: 595px;
  background: #ffffff;
  border-radius: 16px;
}
.booking-form__form label {
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 0;
  padding: 0;
  height: 14px;
  margin-left: 15px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  text-transform: uppercase;
  color: #767e86;
}
.booking-form__form input {
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 0;
  padding: 0;
  appearance: none;
  border: 0;
  border-bottom: 1px solid #000000;
}
.booking-form __button-submit {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 20px;
  gap: 12px;
  width: 288px;
  height: 128px;
  background: #ff7757;
  border-radius: 0px 0px 16px 16px;
}

/*# sourceMappingURL=style.css.map */
